@using StudentsWebsite.WebUI.Utility
@using StudentsWebsite.Data
@using StudentsWebsite.Data.Entities
@model StudentsWebsite.WebUI.Models.Students.Index.ViewModel

@{
    ViewBag.Title = "Студенты";
    ViewBag.PageHeader = "Список студентов";
    Layout = "~/Views/_MainLayout.cshtml";
}

@if (Context.User.CheckRoles(UserRoles.Dean, UserRoles.Lecturer ))
{
    <a class="btn btn-default" href="~/Students/Edit">
        <span class="glyphicon glyphicon-plus-sign">Добавить студента</span>
    </a>
}
<table class="table display" id="students">
    <thead>
        <tr>
            <th>#</th>            
            <th>Имя</th>
            <th>Предметов</th>
            <th>Средний балл</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 1;}
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@i</td>
                <td>
                    @if (Context.User.CheckRoles(UserRoles.Dean, UserRoles.Lecturer))
                    {
                        <a class="btn btn-default btn-xs" href="~/Students/Edit?userName=@student.User.Email">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    }
                    @if (Context.User.CheckRoles(UserRoles.Dean, UserRoles.Lecturer, UserRoles.Student))
                    {
                        <a class="btn btn-default btn-xs" href="~/Students/Card?userName=@student.User.Email">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    }
                    @student.User.FullName()
                </td>
                <td>@student.SubjectsCount</td>
                <td>
                    @if (student.AverageRating >= 0)
                    {
                        @student.AverageRating
                    }
                    else
                    {
                        <span>Нет оценок</span>
                    }
                
                </td>                
            </tr>
                    i++;
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#students').DataTable({
            "lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "Все"]]
        });
    });
</script>