@model StudentsWebsite.WebUI.Models.StudentViewModel[]
@{
    ViewBag.Title = "Лучшие студенты";
    ViewBag.PageHeader = "Студенты с баллом выше среднего";
    Layout = "~/Views/_MainLayout.cshtml";
}

<table class="table display" id="students">
    <thead>
        <tr>
            <th>#</th>
            <th>Средний балл</th>
            <th>Студент</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0, num = 1; i < Model.Length; i++, num++)
        {
            <tr>
                <td>@num</td>
                <td>@Model[i].AverageRating</td>
                <td>
                   
                        <a class="btn btn-default btn-xs" href="~/Students/Edit?userName=@Model[i].UserName">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    
                        <a class="btn btn-default btn-xs" href="~/Students/Card?userName=@Model[i].UserName">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    
                    @Model[i].FullName
                </td>
            </tr>
            
        }
    </tbody>
</table>

<div>
    Средний балл по всем студентам: @ViewBag.TotalAverage
</div>

<script>
    $(document).ready(function () {
        $('#students').DataTable({
            "lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "Все"]]
        });
    });
</script>